
/* mobile viewport */
@media (max-width: 600px) { 
    .navbar{
        position: fixed !important;
        width: 100%;
        height: 4.0rem;
        padding-top: 2.0rem;
        padding: 3.0rem;
    }
    #nav{
        background-color: #E0DADA !important;
        opacity: 10;
    }
    ul{
        display: flex;
        list-style-type: none;
        padding-top: 1.0rem;
    }
    .nav-link{
        color:  #000 !important;
    }
    img{
        width: 90%;
    }
    #team{
        margin-top: 3.0rem;
    }
    #description{
        margin-top: 2.0rem;
        margin-bottom: 3.0rem;
    }
    #screen1{
        height: 50.0rem;
        padding-top: 9.0rem;
        padding-left: .0rem;
    }
    
    h1{
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: 22px !important;
    }
    #boxone{
        width: 150px;
        height: 150px;
        background-color: #ffb4a2;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    
    #boxtwo{
        width: 150px;
        height: 150px;
        background-color: #abc4ff;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #boxthree{
        width: 150px;
        height: 150px;
        background-color: #B4E2F4;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #templatesdes{
        padding-left: 1.0rem;
        text-align: left;
    }
    
    #templatesdes p{
        margin-top: 0.5rem;
        font-size: 15px;
    }
    
    #footer{
        height: 4.0rem;
        width: 100%;
        text-align: center !important;
        font-size: 12px !important;
        background-color: #fff; 
        margin-top: 3.3rem;
    }
    
    #footer p{
        font-size: 12px !important;
    }
}

/* tablet  viewport*/
@media (min-width: 768px) {
    .navbar{
        position: fixed !important;
        width: 100%;
        height: 4.0rem;
        padding-top: 2.0rem;
        padding: 3.0rem;
    }
    #nav{
        background-color: #E0DADA !important;
        opacity: 10;
    }
    ul{
        display: flex;
        list-style-type: none;
        padding-top: 1.0rem;
    }
    .nav-link{
        color:  #000 !important;
    }
    img{
        width: 90%;
    }
    #team{
        margin-top: 3.0rem;
    }
    #description{
        margin-top: 2.0rem;
        margin-bottom: 3.0rem;
    }
    #screen1{
        height: 82.0rem;
        padding-top: 12.0rem;
        padding-left: 2.0rem;
    }
    
    h1{
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: 42px !important;
    }
    #boxone{
        width: 300px;
        height: 300px;
        background-color: #ffb4a2;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    
    #boxtwo{
        width: 300px;
        height: 300px;
        background-color: #abc4ff;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #boxthree{
        width: 300px;
        height: 300px;
        background-color: #B4E2F4;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #templatesdes{
        padding-top: 1.0rem;
        text-align: left;
    }
    
    #templatesdes p{
        margin-top: 2.0rem;
        font-size: 19px;
    }
    
    #footer{
        height: 4.0rem;
        width: 100%;
        text-align: center !important;
        font-size: 12px !important;
        background-color: #fff; 
    }
    
    #footer p{
        font-size: 12px !important;
    }
}

/* desktop viewport */
@media (min-width: 1200px) {
    .navbar{
        position: fixed !important;
        width: 100%;
        height: 4.0rem;
        padding-top: 2.0rem;
        padding: 3.0rem;
    }
    #nav{
        background-color: #E0DADA !important;
        opacity: 10;
    }
    ul{
        display: flex;
        list-style-type: none;
        padding-top: 1.0rem;
    }
    .nav-link{
        color:  #000 !important;
    }
    img{
        width: 90%;
    }
    #team{
        margin-top: 3.0rem;
    }
    #description{
        margin-top: 2.0rem;
        margin-bottom: 3.0rem;
    }
    #screen1{
        height: 102.0rem;
        padding-top: 12.0rem;
        padding-left: 2.0rem;
    }
    
    h1{
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: 42px !important;
    }
    #boxone{
        width: 500px;
        height: 400px;
        background-color: #ffb4a2;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    
    #boxtwo{
        width: 500px;
        height: 400px;
        background-color: #abc4ff;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #boxthree{
        width: 500px;
        height: 400px;
        background-color: #B4E2F4;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #templatesdes{
        padding: 4.0rem;
        text-align: left;
    }
    
    #templatesdes p{
        margin-top: 2.0rem;
        font-size: 22px;
    }
    
    #footer{
        height: 4.0rem;
        width: 100%;
        text-align: center !important;
        font-size: 12px !important;
        background-color: #fff; 
    }
    
    #footer p{
        font-size: 12px !important;
    }
}

/* desktop viewport large */
@media (min-width: 1400px) {
    .navbar{
        position: fixed !important;
        width: 100%;
        height: 4.0rem;
        padding-top: 2.0rem;
        padding: 3.0rem;
    }
    #nav{
        background-color: #E0DADA !important;
        opacity: 10;
    }
    ul{
        display: flex;
        list-style-type: none;
        padding-top: 1.0rem;
    }
    .nav-link{
        color:  #000 !important;
    }
    img{
        width: 90%;
    }
    #team{
        margin-top: 3.0rem;
    }
    #description{
        margin-top: 2.0rem;
        margin-bottom: 3.0rem;
    }
    #screen1{
        height: 102.0rem;
        padding-top: 12.0rem;
        padding-left: 2.0rem;
    }
    
    h1{
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: 42px !important;
    }
    #boxone{
        width: 500px;
        height: 400px;
        background-color: #ffb4a2;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    
    #boxtwo{
        width: 500px;
        height: 400px;
        background-color: #abc4ff;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #boxthree{
        width: 500px;
        height: 400px;
        background-color: #B4E2F4;
        border-radius: 12px;
        margin-bottom: 6.0rem;
    }
    
    #templatesdes{
        padding: 4.0rem;
        text-align: left;
    }
    
    #templatesdes p{
        margin-top: 2.0rem;
        font-size: 22px;
    }
    
    #footer{
        height: 4.0rem;
        width: 100%;
        text-align: center !important;
        font-size: 12px !important;
        background-color: #fff; 
    }
    
    #footer p{
        font-size: 12px !important;
    }
}
